*{
    margin: 0px;
}

html{
    font-size: 16px;
    font-family: "DM Serif Display", serif;
}

p{
    font-size: 0.8rem;
}

h1{
    font-size: 2.0rem;
}

h3{
    font-size: 1.4rem;
}

header{
    background-color: rgba(2, 162, 143, 1);
    height: 50px;
    width: 100%;
    color: rgba(255, 255, 255, 1);
    padding: 0.6rem 0 0 10.8rem;
}

#cabecalho{
     display: flex;
     margin-left: 9.5rem;
     margin-top: 1.2rem;
}


.itens{
     display: flex;
     width: 24.3rem;
     height: 6rem;
     margin-top: 1.2rem;
     border-radius: 10px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
   
}

#item-main{
    display: flex;  
}

.text{
      margin-left: 0.62rem;
      align-items: center;
}

#topics{

    background-color: rgba(2, 162, 143, 1);
    width: 22.5rem;
    height: 3rem;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    margin-top: 0.8rem;

}

#topics h3{
    padding: 10px;
}

.itens{
    width: 22.8rem;
    height: 6rem;
}


#post-title{
    background-color: rgba(2, 162, 143, 1);
    width: 744px;
    height: 56px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    margin-left: 176px;
}

#post-title h3{
    padding: 10px;
}


.grid-container{
    width: 744px;
    height: 883px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 10px;
     margin-left: 176px;
    justify-self: left;

  
}

.grid-item{
    width: 360px;
    height: 390px;
    border-radius: 10px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);


}

.grid-item p{
    color: rgba(97, 97, 97, 1);
    text-align: bottom;
align-items: flex-end;
    
}

#categorias{
    justify-content: space-between;
    gap: 2rem;
    margin-left: 0.8rem ;

}

#cat-itens{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
 
}

.ident{
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color: rgba(97, 97, 97, 1);
}

#post-up{
    display: grid;
}

footer{
    background-color: rgba(2, 162, 143, 1);
    height: 48px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center; /* Centralização horizontal */
    align-items: center;
}


@media only screen and (max-width: 767px){    /* Para celular*/

    h1{
    font-size: 1.5rem;
    }

    header{
    
    background-color: rgba(2, 162, 143, 1);
    display: grid;
    height: 2.5rem;
    width: 100%;
    color: rgba(255, 255, 255, 1);

    }

    #cabecalho{
        display: grid;
    }

    #cabecalho img{
        width: 24rem;
    }

    #post-title{
    background-color: rgba(2, 162, 143, 1);
    width: 23rem;
    height: 2.5rem;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    }

    #topics{

    background-color: rgba(2, 162, 143, 1);
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    margin-top: 0.6rem;
    }

     .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-top: 1.2rem;
    }  
    
    #item-main{

        display: grid;
    }

    #left-side{
        margin-top: 1.2rem;
       margin-left: -1.2rem;
    }

    #categorias{
        margin-top: 48.1rem;
        margin-left: 9.5rem;
        margin-bottom: 0.8rem;
    }

    footer{
        width: 100%;
    }

}

